*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', sans-serif;
}

.header{
    background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
    height: 250px;
    padding-top: 41px;
}

.container{
    margin: 0 auto;
    width: 900px;
}

.nav{
    display: flex;
    justify-content: space-between;
    
}

.logo{
    color: #ffffff;
    font-weight: 400;
    font-size: 24px;
}

.nome{
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.box{
    display: flex;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.2);
    margin-top: 73px;
    height: 65px;
    border-radius: 5px;
}

.box img{
    margin-left: 17px;
    margin-right: 17px;
}

.box input{
    background: transparent;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    margin-right: 17px;
    border: none;
    outline: none;
    color: #ffffff;
}

.box input::placeholder{
    opacity: 0.5;
    color: #ffffff;
}
